html, body{
   margin: 2px;
   background-color: #424242;
   color: white;
}

.input-section {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   gap: 10px;
}

.textarea-cln{
   display: flex;
   justify-content: center;
   align-items: center;
}